html {
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(0ch, 90vw, 75ch);
}

h2 {
  font-style: italic;
  font-weight: normal;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}
