header {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
}

nav {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
  font-size: x-large;
}

body {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(0ch, 90vw, 75ch);
  font-size: x-large;
}

footer {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
  font-style: italic;
  font-size: x-large;
}

img {
  width: 100%;
  max-width: clamp(0ch, 90vw, 80ch);
  height: auto;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: larger;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  font-size: x-large;
}

td, th {
  border: 2px solid black;
  padding: 3px;
  font-size: x-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: center;
}

ul li a {
  display: block;
  color: fffec5;
  text-align: center;
  padding: 0.5ch 1ch;
  text-decoration: none;
}
