header {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
  max-width: clamp(0ch, 90vw, 75ch);
}

nav {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
  max-width: clamp(0ch, 90vw, 75ch);
  font-size: x-large;
}


body {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(0ch, 90vw, 75ch);
  font-size: x-large;
}

footer {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: center;
  max-width: clamp(0ch, 90vw, 75ch);
  font-style: italic;
  font-size: x-large;
}

img {
  width: 100%;
  max-width: clamp(0ch, 90vw, 80ch);
  height: auto;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: larger;
}

h2 {
  font-weight: bold;
  font-size: xx-large;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  font-size: x-large;
}

td, th {
  border: 2% solid black;
  padding: 3%;
  font-size: x-large;
}
