header {
  text-align: center;
}

nav {
  text-align: center;
  font-size: x-large;
}

body {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(40ch, 100vw, 75ch);
  font-size: x-large;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: x-large;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: larger;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  font-size: x-large;
}

td, th {
  border: 2px solid black;
  padding: 3px;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: black;
}

blockquote {
  background: #6e6638;
  border-left: 3px solid black;
  margin: 2ch 0;
  padding: 2ch 2ch;
}

blockquote p {
  display: inline-block;
}
