header {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(0ch, 90vw, 80ch);
}

body {
  background-color: fffec5;
  font-family: 'Serif';
  text-align: left;
  max-width: clamp(0ch, 90vw, 80ch);
  font-size: vw;
}

footer {
  background-color: fffec5;
  font-family: 'Serif';
  max-width: clamp(0ch, 90vw, 80ch);
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
  max-width: clamp(0ch, 90vw, 80ch);
  height: auto;
}

h2 {
  font-style: italic;
  font-weight: normal;
}

h3 {
  font-size: xx-large;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}
